<!DOCTYPE html>
<html lang="en">

{% include "partials/htmlhead.html" %}

<body>

<div class="container">

    {% include "partials/header.html" %}

    {% include "partials/flash.html" %}

    <div class="row">
        <div class="col-xs-12 col-md-9">

            {% block content %}{% endblock %}

        </div>

        <div class="col-xs-12 col-md-3 sidebar">
            <a href="/sessions">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="advert-link col-xs-10">
                        <h2 class="bold">Book a Session</h2>
                    </div>
                </div>
            </a>
            <a href="/reportkit">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="advert-link col-xs-10">
                        <h2 class="bold">Report Missing Kit</h2>
                    </div>
                </div>
            </a>
            <a href="/feedback">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="advert-link col-xs-10">
                        <h2 class="bold">Give Feedback</h2>
                    </div>
                </div>
            </a>
            <a href="/signup">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="advert-link col-xs-10">
                        <h2 class="bold">Sign up for updates</h2>
                    </div>
                </div>
            </a>

            <div id="tweets-container">
                <h5><a href="//twitter.com/KentSWC" target="_blank">@KentSWC</a> Tweets</h5>

                {% load twitter_tag %}
                {% get_tweets for "@KentSWC" as tweets exclude "replies, retweets" limit 5 %}

                <ul>
                    {% for tweet in tweets %}
                        <li class="tweets">{{ tweet.html|safe }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% include "partials/footer.html" %}

</body>
</html>