{% extends "admin/base_site.html" %}

{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
        </caption>
        {% for model in app.models %}

            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if not model.view_only %}
                {% if model.add_url %}
                    <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}

                {% if model.admin_url %}
                    <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block announcement %}
    
{% endblock %}

{% block sidebar %}
    {% load session_helper %}
    {% next_session as date %}

        <div id="content-related">
            <div class="module" id="next-session-module">
                <h2>{% trans 'Next Session' %}</h2>

                {% if date %}
                    <h3>{{ date.date }} - {{ date.get_total_sessions }} booking(s)\</h3>
                {% else %}
                    <h3>No upcoming dates</h3>
                {% endif %}

                <ul class="spotlist">
                {% for spot in date.get_spots %}
                    <li>
                        <h4>{{ spot.time }}</h4>
                        <ul>
                            {% if spot.sessions %}
                                {% for session in spot.sessions %}
                                    <li>{% get_activity session.activity %} - {{ session.user }}</li>
                                {% endfor %}
                            {% else %}
                                No bookings.
                            {% endif %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
        </div>
    </div>
{% endblock %}
