@import "common";

div#content-related {
  background-color: transparent;

  p {
    display: inline-block;
  }

  div.module {
    margin-top: 20px;
    background-color: #f8f8f8;

    div.row {
      display: inline-block;
      clear: both;
      margin: 5px;
      padding: 5px;

      h2 {
        float: left;
      }

      a {
        border: 1px solid rgba(23, 56, 83, 0.96);
        border-radius: 4px;
        margin-top: 10px;
        padding: 5px 20px;
      }
    }
  }
}

th.column-passed, th.column-published{
  width: 50px;
}

th.column-type, th.column-date {
  width: 125px;
}

td.field-type {
  text-transform: capitalize;
}

input#image-clear_id {
  float: right;
  display: block;
  clear: both;
}

label[for=image-clear_id] {
  float: right !important;
  width: 50px !important;
}

textarea {
  width: 98%;
  min-height: 400px;
}

label[for=id_content]:after, label[for=id_text]:after {
  content: "Please format in Markdown." !important;
  position: relative;
  font-weight: normal;
  font-style: italic;
  margin: 10px 10px 10px 0px;
  right: 0;
  display: block;
  width: 500px;
  height: 50px;
}