

html, body {
  margin: 0;
  padding: 0;
  font-family: "Neuzeit","Helvetica Neue",Helvetica,Arial,sans-serif;
  background: white;
  letter-spacing: 0.95px;
}

div {
  padding: 10px;
}

div.container {
  background-color: rgba(255,255,255,0.7);
  margin: 25px auto;

  section {
    border-left: 10px solid #152E47;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    margin-bottom: 20px;

    article {
      position: relative;

      img {
        max-width: 100%;
      }

      div.overlay {
        position: absolute;
        display: block;
        background-color: rgba(255, 255, 255, 0.6);
        top: 15px;
        left: 0;
        padding: 5px 25px 25px 10px;

        h2 {
          margin-bottom: 5px;
        }

        span.date {
          font-size: 11pt;
          margin-left: 20px;
        }
      }

      p:first-of-type {
        margin-top: 15px;
      }

      p {
        position: relative;
        padding: 0 5px;
      }
    }
  }

}

.bold {
  letter-spacing: -2px;
  font-weight: bold;
}


div.next-event {
  display: block;
  height: 50px;

  span.title {
    float: left;
    display: block;
  }

  span.date {
    display: block;
    float: right;
  }

  button {
    display: block;
    float: right;
    padding: 5px 15px;
    margin-left: 20px;
  }

}

div.advert-link {
  display: block;
  padding: 25px 0;
  background-color: #152E47;
  text-decoration: none;
  text-align:center;
  color: white;
  margin: 20px;
  border: 3px solid white;
}

div.advert-link:hover {
  background-color: white;
  border: 3px solid #152E47;
  color: #152E47;
}
