@import url(footer);
.border() { border-left: 10px solid #152E47; }

html, body {
  min-width: 400px;
  margin: 0;
  padding: 0;
  font-family: "Neuzeit","Helvetica Neue",Helvetica,Arial,sans-serif;
  background: white;
  letter-spacing: 0.95px;
}

p {
  letter-spacing: -0.5px;
}

a#home {
  text-align: center;
  display: block;
  margin-bottom: 35px;
  color: rgba(23, 56, 83, 0.96);

  img {
    display: block;
    margin: 0 auto;
    float: none !important;
  }

  h1 {
    margin: 10px;
    float: none !important;
  }
}

div.container {
  background-color: rgba(255,255,255,0.7);
  margin: 25px auto;

  section {
    .border;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0 10px;
    margin-bottom: 25px;

    &:last-of-type {
      margin-bottom: 15px;
    }

    div#back {
      margin-top: -10px;
      display: inline-block;

      a {
        h5 {
          margin-left: 10px;
          letter-spacing: -0.92px;
          font-size: 12pt;
          font-weight: bold;
        }
      }
    }

    article {
      position: relative;

      img {
        max-width: 100%;
      }

      div.overlay {
        position: absolute;
        display: block;
        background-color: rgba(255, 255, 255, 0.6);
        top: 0;
        left: 0;
        padding: 5px 25px 25px 10px;

        h2 {
          font-size: 16pt;
          margin-bottom: 5px;
        }

        span.date {
          font-size: 11pt;
          margin-left: 20px;
        }
      }

      p:first-of-type {
        margin-top: 25px;
      }

      p {
        position: relative;
        padding: 0 5px;
      }
    }
  }

}

a {
  color: rgba(23, 56, 83, 0.76);
  font-size: 14pt;

  img {
    float: left;
    margin-left: -10px;
  }

  h1 {
    display: block;
    float: left;
    margin:-45px 0 20px 60px;
    clear: both;
  }

  &:hover {
    text-decoration: none;
    color: rgba(23, 56, 83, 0.50);
  }
}

h1, .bolder {
  letter-spacing: -2px;
  font-weight: bold;
}

.bold {
  letter-spacing: -1.5px;
  font-weight: 400;
}

div.next-event {
  display: block;
  height: 50px;

  span.title {
    float: none;
    font-weight: bold;
    display: block;
    width: 150px;
  }

  span.date {
    display: block;
    letter-spacing: normal;
    float: left;
  }

  button {
    display: block;
    float: right;
    height: 40px;
    padding: 5px 15px;
    margin: -15px 0 10px 30px;
  }

}

div.advert-link {
  display: block;
  padding: 15px 0 10px 0;
  background-color: rgba(26, 47, 71, 0.9);
  text-decoration: none;
  text-align:center;
  color: white;
  margin: 0px 10px;
  border: 3px solid white;
  border-radius: 3px;

  &:first-of-type {
    margin-top: 0;
  }

  &:hover {
    background-color: #fff;
    border: 3px solid #152E47;
    color: #152E47;
  }
  h2 {
    font-size: 12pt;
    letter-spacing: -1.5px;
  }
}

div#tweets-container {
  margin-top: 25px;

  ul {
    list-style: none;
    padding-left: 10px;
    padding-top: 10px;

    li.tweets {
      font-size: 10pt;
      display: block;
      padding: 5px;
      padding-right: 0;
      width: 100%;
      .border;
      margin-bottom: 10px;

      a {
        font-size: 10pt;
      }
    }
  }
}

article.session {
  span.date, span.time {
    font-size: 12pt;
    display: inline-block;
    margin: 0 0 15px 0;
    float: left;
  }
}


section#booking-details {

  div {
    display: inline-block;
    margin: 15px 0 0 0;

    i {
      float: left;
      padding: 5px;
    }

    span {
      margin: 15px 10px 0 10px;
      float:left;
      font-size: 14pt;
    }
  }
}

@import url(768px);
@import url(forms);