

html, body {
  margin: 0;
  padding: 0;
  font-family: "Neuzeit","Helvetica Neue",Helvetica,Arial,sans-serif;
  background: white;
}

div {
  padding: 10px;
}

div.container {
  background-color: rgba(255,255,255,0.7);
  border-left: 10px solid #152E47;
  margin: 25px auto;

}

.fucking-say-it {
  letter-spacing: -2px;
  font-weight: bold;
}

div.next-event {
  display: block;
  height: 50px;

  span.title {
    float: left;
    display: block;
  }

  span.date {
    display: block;
    float: right;
  }

  button {
    display: block;
    float: right;
    padding: 5px 15px;
    margin-left: 20px;
  }

}

div.advert-link {
  display: block;
  padding: 25px 0;
  background-color: #152E47;
  text-decoration: none;
  text-align:center;
  color: white;
  margin: 20px;
  border: 3px solid white;
}

div.advert-link:hover {
  background-color: white;
  border: 3px solid #152E47;
  color: #152E47;
}
