{% extends "noside.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <section>
        <h3 class="bolder">Booking a session</h3>

        <div id="back">
            <a href="/tasters">
                {% include "partials/back.html" %}
            </a>
        </div>
    </section>

    <section id="booking-details">
        <div>
            <i class="fa fa-2x fa-calendar-o"></i><span id="date">{{ date }}</span>
        </div>

        <div>
            <i class="fa fa-2x fa-clock-o"></i><span id="time">{{ time }}</span>
        </div>
    </section>

    <section>
        <form method="post">

        {% crispy form %}
    </section>

{% endblock %}