{% extends "base.html" %}

{% block content %}

    <section>
        <div class="next-event" id="next-sailing">
            <span class="title">Next Session: </span>
            <span class="date ">{{ d.date|date:"D jS N" }}</span>
            <a href="/book/{{ d }}/{{ t }}">
                <button type="button" class="btn btn-success">Book Now</button>
            </a>
        </div>
        <div class="next-event" id="next-social">
            <span class="title">Next Social: </span>
            <span class="date">September 27th</span>
            <button type="button" class="btn btn-default invisible">Book</button>
        </div>
    </section>


    {% for announcement in a%}
        <section>
            <article>
                <img src="/static/img/{{ announcement.image }}" alt="{{ announcement.title }}"/>
                <div class="overlay">
                    <h2 class="bold">{{ announcement.title }}</h2>
                    <span class="date">{{ announcement.date }}</span>
                </div>

                {{ announcement.html }}
            </article>
        </section>
    {% endfor %}

{##}
{#    <section>#}
{#        <article>#}
{#            <img src="/static/img/xenon-pose.jpg" alt="Bathtub antics"/>#}
{#            <div class="overlay">#}
{#                <h2 class="bold">Team Racing trials date coming soon!</h2>#}
{#                <span class="date">22nd July 2016</span>#}
{#            </div>#}
{#            <p>As well as casual weekend sailing, why not try your hand at University Team Racing?<p>#}
{##}
{#            <p>The University of Kent has competed nationally for several years, and is growing rapidly. If you're an experienced#}
{#        racer, or would just like to try out something new, please watch our Facebook and Twitter for announcements of the team#}
{#        tryouts. Typically we train every Wednesday afternoon and hold a short theory session over drinks on Friday afternoons.#}
{#        It's a great chance to try out a new style of racing, or hone your skills against other universities.</p>#}
{##}
{#            <p>If you have any questions, or want to know more please get in touch with our Race Captain!</p>#}
{#        </article>#}
{#    </section>#}

{% endblock %}