{% extends "base.html" %}

{% block content %}

    <section>
        {%  if d %}
        <div class="next-event" id="next-sailing">
            <span class="title">Next Session: </span>
            <span class="date ">{{ d.date|date:"D jS N" }}</span>
            <a href="/sessions">
                <button type="button" class="btn btn-success">Book Now</button>
            </a>
        </div>
        {% endif %}
        {% if e %}
            <div class="next-event" id="next-social">
                <span class="title">Next Social: </span>
                <span class="date">
                    {% if e.facebook_link %}
                        <a target="_blank" class="little-link" href="{{ e.facebook_link }}">{{ e.date|date:"D jS N" }} - {{ e.title }}</a>
                    {% else %}
                        {{ e.date|date:"D jS N" }} - {{ e.title }}
                    {% endif %}
                </span>
                <button type="button" class="btn btn-default invisible">Book</button>
            </div>
        {% endif %}
    </section>

    {% if p.count > 0 %}
        <section id="menu">
            {% for page in p %}
                <a class="little-link" href="/{{ page.title|slugify }}">
                    {{ page.title }}
                </a>
            {% endfor %}
        </section>
    {% endif %}

    {% for announcement in a %}
        <section>
            <article>
                <div style="max-height: 250px; overflow-y: hidden">
                    <img src="/{{ announcement.image }}" alt="" title="{{ announcement.title }}" style="min-height: 100px; display: block;"/>
                </div>
                <div class="overlay">
                    <h2 class="bold">{{ announcement.title }}</h2>
                    <span class="date">{{ announcement.date }}</span>
                </div>
                {% autoescape off %}
                    {{ announcement.html }}
                {% endautoescape %}
            </article>
        </section>
    {% endfor %}

{% endblock %}