{% extends "base.html" %}

{% block content %}

    <section>
        <div class="next-event" id="next-sailing">
            <span class="title">Next Session: </span>
            <span class="date ">{{ d.date|date:"D jS N" }}</span>
            <a href="/book/{{ d }}">
                <button type="button" class="btn btn-success">Book Now</button>
            </a>
        </div>
        {% if e %}
            <div class="next-event" id="next-social">
                <span class="title">Next Social: </span>
                <span class="date">{{ e.date|date:"D jS N" }}</span>
                <button type="button" class="btn btn-default invisible">Book</button>
            </div>
        {% endif %}
    </section>

    {% if p.count > 0 %}
        <section id="menu">
            {% for page in p %}
                <a href="/{{ page.title|slugify }}">
                    {{ page.title }}
                </a>
            {% endfor %}
        </section>
    {% endif %}

    {% for announcement in a %}
        <section>
            <article>
                <img src="/static/img/{{ announcement.image }}" alt="{{ announcement.title }}"/>
                <div class="overlay">
                    <h2 class="bold">{{ announcement.title }}</h2>
                    <span class="date">{{ announcement.date }}</span>
                </div>
                {% autoescape off %}
                    {{ announcement.html }}
                {% endautoescape %}
            </article>
        </section>
    {% endfor %}

{% endblock %}