{% extends "base.html" %}

{% block content %}

    {% if p.count > 0 %}
        <section id="menu">
            {% for page in p %}
                <a class="little-link" href="/{{ page.title|slugify }}">
                    {{ page.title }}
                </a>
            {% endfor %}
        </section>
    {% endif %}

    {% if page.image %}
        <section>
            <img src="{{ page.image }}" title="{{ page.title }}" style="height:200px;" />
        </section>
    {% endif %}

    <section>
        <h2>{{ page.title }}</h2>

        <br/>

        <div id="content">
            {% autoescape off %}
                {{ page.html }}
            {% endautoescape %}
        </div>
    </section>

{% endblock %}