{% extends "noside.html" %}

{% block content %}

    <section>
        <h3 class="bolder">Upcoming Sessions</h3>
    </section>

    <section id="back">
        <a href="home">
            <h5>Back</h5>
        </a>
    </section>

    {% for date in date_list %}
        <section>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <article class="session">
                        <span class="date bolder">{{ date.date|date:"D jS N" }}</span>

                        <div id="times">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Sailing</th>
                                        <th>Windsurfing</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for time in date.get_times %}
                                        <tr>
                                            <td>{{ time }}</td>
                                            <td>
                                                <a href="book/{{ date }}/{{ time }}">
                                                    <button type="button" class="btn btn-success">6 places left</button>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="book/{{ date }}/{{ time }}">
                                                    <button type="button" class="btn btn-success">6 places left</button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </article>
                </div>
            </div>
        </section>
    {% endfor %}

    <section>
        <article>
            More dates to be announced shortly.
        </article>
    </section>

{% endblock %}