<!DOCTYPE html>
<html lang="en">

{% include "partials/htmlhead.html" %}

<body>

<div class="container">

    {% include "partials/header.html" %}

    <div class="row">
        <div class="col-xs-12 col-md-9">

            {% block content %}{% endblock %}

        </div>

        <div class="col-xs-12 col-md-3 sidebar">
            <a href="/sessions">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="advert-link col-xs-10">
                        <h2 class="bold">Book a Session</h2>
                    </div>
                </div>
            </a>
            <a href="/reportkit">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="advert-link col-xs-10">
                        <h2 class="bold">Report Missing Kit</h2>
                    </div>
                </div>
            </a>
            <a href="/feedback">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="advert-link col-xs-10">
                        <h2 class="bold">Give Feedback</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% include "partials/footer.html" %}

</body>
</html>