<!DOCTYPE html>
<html lang="en">

<head>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css"/>
    <meta charset="UTF-8">
</head>

<body>

<div class="container">
    <h1>UKC Sailing and Windsurfing</h1>

    <div class="row">
        <div class="col-xs-12 col-md-7">
            <div class="next-event" id="next-sailing">
                <span class="title">Next Sailing: </span>
                <button type="button" class="btn btn-default ">Book</button>
                <span class="date ">September 18th</span>
            </div>
            <div class="next-event" id="next-social">
                <span class="title">Next Social: </span>
                <button type="button" class="btn btn-default ">Book</button>
                <span class="date">September 27th</span>
            </div>

            <p>Lorum ipsum mother fucker.</p>
        </div>

        <div class="col-xs-12 col-md-5">
            <a href="/book">
                <div class="advert-link col-xs-12">
                    <h2>Book a Session</h2>
                </div>
            </a>
            <a href="/reportkit">
                <div class="advert-link col-xs-12">
                    <h2>Report Missing Kit</h2>
                </div>
            </a>
            <a href="/feedback">
                <div class="advert-link col-xs-12">
                    <h2>Give Feedback</h2>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <nav class="pull-right">
                <ul>
                    <li>About</li>
                    <li>Volunteer</li>
                    <li>Login</li>
                    <li>Contact</li>
                </ul>
            </nav>
        </div>
    </div>
</div>

</body>
</html>