<!DOCTYPE html>
<html lang="en">

<head>
    <link type="text/css" rel="stylesheet" href="https://raw.githubusercontent.com/siimple/siimple/master/dist/siimple.min.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css"/>
    <meta charset="UTF-8">
</head>

<body>

    <nav>
        <ul>
            <li>Home</li>
            <li>Contact</li>
            <li>About</li>
        </ul>
    </nav>

    <title>UKC Sailing and Windsurfing</title>

    <div class="grid main">

    </div>
</body>
</html>